
@media screen and (min-width: 768px) {
#content_10_0 .bg0 { background-image: url(http://cdn.geyitech.com/official/01_1.jpg); background-size: cover }
#content_10_0-wrapperBlock0 { left: 5% }
#content_1_0 .bg0 { background-image: url(http://cdn.geyitech.com/official/02_01_1.jpg); background-size: cover }
#content_1_0 .bg1 { background-image: url(http://cdn.geyitech.com/official/02_02_1.jpg) }
#content_1_0-wrapperBlock0 {}
#content_1_0-wrapperBlock1 {
  text-align: center;
  margin: auto;
}
#content_1_0-wrapperBlock2 {
  text-align: right;
  position: absolute;
  margin: 0;
  left: auto;
  right: 8%;
}
#content_2_0-img { left: 10%; height: 50vh; width: 55% }
}
